@model MonkeysTheoremWeb.Models.GeneticAlgorithmViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-6 p-0">
    <div class="card">
        <div class="login-box">
            <div class="login-snip">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Ingrese la Frase</label>
                <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Configurar</label>
                <div class="login-space">
                    <div class="login">
                        <br /><br />
                        <div class="group">
                            <label class="label">Frase a reconstruir</label>
                            <input asp-for="Phrase" type="text" class="input" value="@Model.Phrase" placeholder="Ingrese una frase a reproducir">
                        </div>
                        <div class="group">
                            <ul style="display: inline-block;text-align: left; background: rgba(255, 255, 255, .1);background-color: rgba(255, 255, 255, .1);border-radius: 10px;color: #aaab;">
                                <li style="margin:10px"><label id="lblHome_Population">Población: @Model.Population</label></li>
                                <li style="margin:10px"><label id="lblHome_Generations">Generaciones: @Model.Generations</label></li>
                                <li style="margin:10px"><label id="lblHome_SolverSelection">Solucionador: @Model.SolverSelectionName</label></li>
                                <li style="margin:10px"><label id="lblHome_CrossoverProbability">Probabilidad de Cruzamiento: @Model.CrossoverProbability</label></li>
                                <li style="margin:10px"><label id="lblHome_MutationProbability">Probabilidad de Mutación: @Model.MutationProbability</label></li>
                            </ul>
                        </div>
                        <div class="group">
                            <input id="btnReconstruirFrase" type="button" class="button" value="Reconstruir">
                        </div>
                        <div class="hr"></div>
                        <div class="group">
                            <label for="phrase" class="label">Frase Reconstruida</label>
                            <select id="results" type="text" class="select">
                                @if (Model != null)
                                {
                                    for (int i = Model.Result.Count(); i != 0; i--)
                                    {
                                        var elem = Model.Result[i - 1];
                                        <option value="0">@string.Format("Frase: {0} - Generaciones: {1} - Fitness: {2}", elem.PhraseResult, elem.Generation, elem.Fitness)</option>
                                    }
                                }
                                else
                                {
                                    <option value="0" selected>Aquí aparecerá su frase</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="sign-up-form">
                        <br /><br />
                        <form>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="group">
                                <label asp-for="PhraseConfiguration" class="label">Frase a reconstruir</label>
                                <input asp-for="PhraseConfiguration" type="text" class="input" placeholder="Ingrese una frase a reproducir">
                                <span asp-validation-for="PhraseConfiguration" class="text-danger"></span>
                            </div>
                            <br />
                            <div class="group">
                                <div class="group" style="display:inline-block; margin-left:20px">
                                    <label asp-validation-for="Population" class="label chico">Población</label>
                                    <input asp-for="Population" value="200" type="text" class="input chico" placeholder="Ingrese la Población">
                                    <span asp-validation-for="Population" class="text-danger"></span>
                                </div>
                                <div class="group" style="display:inline-block; margin-left:20px">
                                    <label asp-for="Generations" class="label chico">Generaciones a generar</label>
                                    <input asp-for="Generations" value="200" type="text" class="input chico" placeholder="Ingrese las Generaciones maximas a generar">
                                    <span asp-validation-for="Generations" class="text-danger"></span>
                                </div>
                                <div class="group" style="display:inline-block; margin-left:20px">
                                    <label asp-for="SolverSelection" class="label chico">Selección de solucionador</label>
                                    <select asp-for="SolverSelection" type="text"  class="select chico" placeholder="Selección de solucionador">
                                        <option value="0" selected>Ranking</option>
                                        <option value="1">Torneo</option>
                                        <option value="2">Ruleta</option>
                                        <option value="3">Control sobre número esperado</option>
                                    </select>
                                    <span asp-validation-for="SolverSelection" class="text-danger"></span>
                                </div>
                                <div class="group" style="display:inline-block; margin-left:20px">
                                    <label asp-for="CrossoverProbability" class="label chico">Probabilidad de cruzamiento</label>
                                    <input asp-for="CrossoverProbability" value="@(Model.CrossoverProbability + 0.1f)" type="text" class="input chico" placeholder="Probabilidad de cruzamiento">
                                    <span asp-validation-for="CrossoverProbability" class="text-danger"></span>
                                </div>
                                <div class="group" style="display:inline-block; margin-left:20px">
                                    <label asp-for="MutationProbability" class="label chico">Probabilidad de Mutación</label>
                                    <input asp-for="MutationProbability" value="@Model.MutationProbability" type="text" class="input chico" placeholder="Probabilidad de mutación">
                                    <span asp-validation-for="MutationProbability" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="group">
                                <input id="btnReconstruirConfiguracion" type="button" class="button" value="Reconstruir">
                            </div>
                        </form>

                        <!--<hr style="background:rgba(255, 255, 255, .2)"/>
                        <div class="group">
                            <label for="pass" class="label">Frase Reconstruida</label>
                            <select id="pass" type="text" class="select">
                                @if (Model != null)
                                {
                                    for (int i = Model.Result.Count(); i != 0; i--)
                                    {
                                        var elem = Model.Result[i - 1];
                                        <option value="0">@string.Format("Frase: {0} - Generaciones: {1} - Fitness: {2}", elem.PhraseResult, elem.Generation, elem.Fitness)</option>
                                    }
                                }
                                else
                                {
                                    <option value="0" selected>Aquí aparecerá su frase</option>
                                }
                            </select>
                        </div>-->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $("#btnReconstruirFrase").click(function (e) {
        calculate(e.target);
    });

    $("#btnReconstruirConfiguracion").click(function (e) {
        calculate(e.target);
    });

    $("#Phrase").change(function (e) {
        $("#PhraseConfiguration").val($("#Phrase").val());
    });

    $("#PhraseConfiguration").change(function (e) {
        $("#Phrase").val($("#PhraseConfiguration").val());
    });

    $("#Population").change(function (e) {
        $("#lblHome_Population").text("Población: " + $("#Population").val());
    });

    $("#CrossoverProbability").change(function (e) {
        $("#lblHome_CrossoverProbability").text("Probabilidad de Cruzamiento: " + $("#CrossoverProbability").val());
    });

    $("#Generations").change(function (e) {
        $("#lblHome_Generations").text("Generaciones: " + $("#Generations").val());
    });

    $("#MutationProbability").change(function (e) {
        $("#lblHome_MutationProbability").text("MutationProbability: " + $("#MutationProbability").val());
    });
    $("#SolverSelection").change(function (e) {
        $("#lblHome_SolverSelection").text("SolverSelection: " + $("#SolverSelection option:selected").text());
    });
    
    function calculate(selector) {

        var data = {
            'Phrase': $("#Phrase").val(),
            'Population': $("#Population").val(),
            'Generations': $("#Generations").val(),
            'CrossoverProbability': $("#CrossoverProbability").val(),
            'MutationProbability': $("#MutationProbability").val(),
            'SolverSelection': $("#SolverSelection").val(),
        };
        $.ajax({
            type: "POST",
            url: '@Url.Action("Calculate", "Home")',
            data: data,
            success: function (data) {
                if (data.codigo == 0) {
                    var options = "";
                    data.resultados = data.resultados.reverse();
                    $.each(data.resultados, function (i, item) {
                        var option = "<option value='" + i + "'>" + `Frase: ${item.phraseResult} - Generaciones: ${item.generation} - Fitness: ${item.fitness}` + "</option>";
                        options += option;
                    });
                    $("#results").empty();
                    $("#results").append(options);

                    if (selector.id == "btnReconstruirConfiguracion") {
                        $("#tab-1").click();
                    }
                }
                else {
                    var errores = "";
                    $.each(data.resultados, function (i, err) {
                        errores += err + "\n";
                    });
                    $.notify(errores, "error");
                    if (selector == "btnReconstruirFrase") {
                        $("#tab-2").click();
                    }
                }
            },
        });
    }

</script>